@page
@model BlogMainPage
@{
    // tu zmienić
    ViewData["Title"] = "Home page";
}
<div class="bg-secondary bg-opacity-10 py-2 mb-2">
    <div class="container">
        <h1>Blogs</h1>
    </div>
</div>
<div class="container">
    
    <div class="mb-5">
        @if (Model.Tags != null && Model.Tags.Any())
        {
            foreach (var tag in Model.Tags)
            {
                <a href="/blog/tags/@tag.Name" style="color: inherit; text-decoration: inherit">
                    <span class="badge bg-dark">@tag.Name</span>
                </a>
            }
        }
    </div>
    <div class="row justify-content-start mb-5">

        @if (Model.Blogs != null && Model.Blogs.Any())
        {
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 px-xl-2 px-sm-5 px-md-5 px-lg-5">
                    <div  class="mb-3 bg-light box-shadow border border-dark">
                        <img src="@blog.FeaturedImageUrl" alt="@blog.Heading" class="mb-2 d-block img-fluid"/>
                        <div class="px-4 py-4">
                            <h2 class="mb-2">@blog.Heading</h2>
                            <p>
                                Author: @blog.Author
                                <br/>
                                Date Published: @blog.PublishedDate.ToShortDateString()
                            </p>
                            <p class="mb-2">@blog.ShortDescription</p>
                            <a href="/blog/@blog.UrlHandle" class="btn btn-dark">Read More</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container">
                <p>Blog Post Was Not Found</p>
            </div>
        }
    </div>
</div>