@page
@model CarRental.Web.Pages.Admin.CarOrders.List

@{
    Layout = "_LayoutPlain";
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Car Orders</h1>
    </div>
</div>

<partial name="_Notification"></partial>
<partial name="_Notification2"></partial>

@if (Model.CarOrders != null && Model.CarOrders.Any())
{
    <div class="container">
        <table class="table table-striped-columns">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Heading</th>
                <th scope="col">Username</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">Price</th>
                <th scope="col">State</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            @foreach (var carOrder in Model.CarOrders!)
            {
                <tr>
                    <td>@carOrder.Id</td>
                    <td>@Model.CarOffers.Find(x => x.Id == carOrder.CarOfferId).Heading</td>
                    <td>@carOrder.UserName</td>
                    <td>@carOrder.StartDate</td>
                    <td>@carOrder.EndDate</td>
                    <td>@carOrder.TotalPrice</td>
                    <td>@carOrder.State</td>
                    <td >
                        <button type="button" onclick="window.location.href='/Admin/CarOrders/Edit/@carOrder.Id';" class="btn btn-outline-primary btn-6">Edit</button>
                    </td>
                    <td >
                        @* <button class="btn btn-outline-success btn-8" >Delete</button> *@
                        @* <form asp-page-handler="Delete" asp-route-id="@blogPost.Id"> *@
                        @*     <button class="btn btn-outline-success btn-8">Delete</button> *@
                        @* </form> *@
                        <a class="btn btn-outline-success btn-8" asp-page-handler="Delete" asp-route-id="@carOrder.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="container">
        <p>Car Order Was Not Found</p>
    </div>
}